*{
  padding:0px;
  margin:0px;
}

.backdrop{
  background-color:#DCE2E3;
}

image{
  max-width:100%;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #8A8CA7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #F2E6E5;
  text-align: center;
  padding: 30px 16px 30px;
  text-decoration: none;
  font-family: 'Yuji Syuku', serif;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #787990;
  color:#E9DEDF;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/*button on backdrop*/
.center{
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h1{
  font-family: 'Yuji Syuku', serif;
  size:40px;
  text-align: center;
  padding-bottom:10px;
}

h3{
  font-family: 'Yuji Syuku', serif;
  size:40px;
  text-align: center;
  padding-bottom:10px;
}

p{
  font-family: 'Yuji Syuku', serif;
  padding-bottom:10px;
}

a{
  text-decoration:none;
  color:black;
}

.row{
  margin:0px;
  display: flex;
  padding-left:20px;
  height:96vh;
  width:100vw;
}

.column{
  flex:50%;
  padding:5px;
  text-align:center;
}

.profile{
  border-radius:50%;
  width:300px;
  background-color: #DCE2E3;
}

.backdrop p::first-line{
  font-size:20px;
}

html {
  scroll-behavior: smooth;
}

.meChef{
  padding-top:10px;
  padding-right:5px;
}

.logo{
  width:100px;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}