*{
  padding:0px;
  margin:0px;
}

body{
  background-color:#DCE2E3;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #8A8CA7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #F2E6E5;
  text-align: center;
  padding: 30px 16px 30px;
  text-decoration: none;
  font-family: 'Yuji Syuku', serif;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #787990;
  color:#E9DEDF;
}

/* Main content */
.main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}

.meChef{
  padding-top:10px;
  padding-right:5px;
}

.logo{
  width:100px;
}

h1{
  font-family: 'Yuji Syuku', serif;
  size:40px;
  text-align: center;
  padding-bottom:10px;
}

table{
  width: 90vw;
  padding-left:5vw;
  padding-right:5vw;
}

td{
  font-family: 'Yuji Syuku', serif;
  padding-bottom:10px;
  font-size:15px;
}

a{
  text-decoration:none;
  color:black;
}

a:hover{
  background-color:#EADEDD;
}